In [7]:
import pandas as pd

dataSet={
    
    'Nombre': ['Carlos','Javier','Gimena'],
    'Apellido':['Santander','Garcia','Pérez'],
    'Edad':[24,45,54]
}

dataSetPandas=pd.DataFrame(dataSet)

display(dataSetPandas)

   Nombre   Apellido  Edad
0  Carlos  Santander    24
1  Javier     Garcia    45
2  Gimena      Pérez    54

In [16]:
display(dataSetPandas[dataSetPandas.Nombre == 'Carlos'])

   Nombre   Apellido  Edad
0  Carlos  Santander    24